- log_object_view '/questions/index'

= render :partial=>'/layouts/admin/filters'

.top_actions.buttons
  .buttons_inner
    = link_to 'refresh', questions_path
    = link_to 'new', new_question_path, :class=>'new large'
  
= view_title 'Questions', :list

= render :partial=>'list'

= will_paginate @objects
