- log_object_view '/questions/new'

.top_actions.buttons
  .buttons_inner
    = RDisplay.cancel_form_link("/questions")
    = RDisplay.submit_form_link("new_question")

= view_title @object, :new

= form_for(@object) do |f|

  = render :partial=>'/shared/admin/form_errors'
  = render :partial=>'/shared/admin/form_parent',     :locals=>{:f=>f}
  = render :partial=>'/shared/admin/form_details',    :locals=>{:f=>f}
  = render :partial=>'form_question',                 :locals=>{:f=>f}
          
.form_actions.buttons
  .buttons_inner
    = RDisplay.cancel_form_link("/questions")
    = RDisplay.submit_form_link("new_question")
    
