- log_object_view '/blogs/new'

.top_actions.buttons
  .buttons_inner
    = RDisplay.cancel_form_link("/blogs")
    = RDisplay.submit_form_link("new_blog")

= view_title @object, :new

= form_for(@object) do |f|

  = render :partial=>'/shared/admin/form_errors'
  = render :partial=>'/shared/admin/form_details',  :locals=>{:f=>f,:required=>[:title]}
  = render :partial=>'form_details',                :locals=>{:f=>f}
  
  = render :partial=>'/shared/admin/form_html_block', :locals=>{:f=>f,:field_name=>'abstract',:rows=>5}
  = render :partial=>'/shared/admin/form_html_block', :locals=>{:f=>f}
          
.form_actions.buttons
  .buttons_inner
    = RDisplay.cancel_form_link("/blogs")
    = RDisplay.submit_form_link("new_blog")
    
