- log_object_view '/blogs/show'

= render :partial=>'/layouts/admin/filters'

.top_actions.buttons
  .buttons_inner
    = link_to 'list', blogs_path, :class=>'list'
    = link_to 'new', new_blog_path, :class=>'new'
    = buttons_divider
    - if @object.active
      = link_to 'disable', "/blogs/#{@object.id}/activate", :class=>'disable'
    - else
      = link_to 'activate', "/blogs/#{@object.id}/activate", :class=>'activate'
    = link_to 'publish', "/blogs/#{@object.id}/publish", :class=>'publish'
  

= render :partial=>'/shared/admin/show_object'

