- log_object_view '/users/edit_password'

.top_actions.buttons
  = RDisplay.cancel_form_link("/users/#{@object.id}?show[details]=yes")
  = RDisplay.submit_form_link("edit_user_#{@object.id}")

= view_title @object, :edit

= form_for(@object,:url=>"/users/#{@object.id}/update_password") do |f|

  = render :partial=>'/shared/admin/form_errors'
  = render :partial=>'form_password', :locals=>{:f=>f}
          
.form_actions.buttons
  = RDisplay.cancel_form_link("/users/#{@object.id}?show[details]=yes")
  = RDisplay.submit_form_link("edit_user_#{@object.id}")
