
- item   ||= f.object
- prefix ||= 'home'
- title  ||= prefix.titleize

- log_object_partial "app_settings/form_fields <i>(#{prefix})</i>"

- if item.respond_to?("#{prefix.to_s}_enable")
  .block
    .title= "<b>#{title}</b> Access Flags".html_safe
    .content
      %table
        = RDisplay.row('Enabled',f.check_box("#{prefix}_enable".to_sym))
        = RDisplay.row('Requires Login',f.check_box("#{prefix}_requires_auth".to_sym))

.block
  .title= "<b>#{title}</b> Meta Tags".html_safe
  .content
    %table
      = RDisplay.row("Meta Title",f.text_field("#{prefix}_meta_title".to_sym))
      = RDisplay.row("Meta Dscr",f.text_field("#{prefix}_meta_dscr".to_sym))
      = RDisplay.row("Meta Keywords",f.text_field("#{prefix}_meta_keywords".to_sym))
      = RDisplay.row("Meta Author",f.text_field("#{prefix}_meta_author".to_sym))
      = RDisplay.row("Meta Robots",f.text_field("#{prefix}_meta_robots".to_sym))
      = RDisplay.row("Favicon URL",f.text_field("#{prefix}_favicon".to_sym))
  
.block
  .title= "<b>#{title}</b> Display Switches".html_safe
  .content
    %table
      - %w(userbar overheader header underheader nav1 nav2 menu1 menu2 overfooter footer underfooter credits).each do |field|
        = RDisplay.row("Show #{field.titleize}",f.check_box("#{prefix}_show_#{field}".to_sym))
  
- if prefix == 'auth'  
  .block
    .title= "<b>Authentication</b> Paths".html_safe
    .content
      %table
        = RDisplay.row('After Login Path',f.text_field(:after_login_path))
        = RDisplay.row('After Logout Path',f.text_field(:after_logout_path))

