- log_object_view "/app_settings/edit_school"

.top_actions.buttons
  .buttons_inner
    = RDisplay.cancel_form_link("/app_settings/#{@object.id}?show[blog]=yes")
    = RDisplay.submit_form_link("edit_app_setting_#{@object.id}")

= view_title @object, :edit
= sub_title 'School Area Settings'

= form_for(@object,:url=>"/app_settings/#{@object.id}/update_school") do |f|

  = render :partial=>'/shared/admin/form_errors'
  = render :partial=>'form_fields', :locals=>{:f=>f,:prefix=>'school'}
          
.form_actions.buttons
  .buttons_inner
    = RDisplay.cancel_form_link("/app_settings/#{@object.id}?show[school]=yes")
    = RDisplay.submit_form_link("edit_app_setting_#{@object.id}")
