
- if @p
  = safe Parser.parse(@p.p_content)
  
- else
  %h1.error= "Page Not Found..."
  .debug
    = "Code: #{@code}<br/>".html_safe
    = "Page: /home/#{@code}"
    
%hr
- if @p1
  = @p1.map{|x| "#{x.id}:#{x.code}:#{x.app_segment_id}"}.inspect
  %br
- if @p2
  = @p2.map{|x| "#{x.id}:#{x.code}:#{x.app_segment_id}"}.inspect
  %br
- if @p3
  = @p3.map{|x| "#{x.id}:#{x.code}:#{x.app_segment_id}"}.inspect
  %br
- if @p
  = "#{@p.id}:#{@p.code}:#{@p.app_segment_id}"