
- if @page
  = safe Parser.parse(@page.p_content)
  
- else
  %h1.error= "Page Not Found..."
  .debug
    = "Code: #{@code}<br/>".html_safe
    = "Page: /home/#{@code}"
    
%hr
- if @p
  = @p.map{|x| "#{x.id}:#{x.code}:#{x.app_segment_id}"}.inspect