- log_object_view '/documents/index'

= render :partial=>'/layouts/admin/filters'

.top_actions.buttons
  .buttons_inner
    = link_to 'refresh', documents_path
    = link_to 'new', new_document_path, :class=>'new large'
  
= view_title 'Documents', :list

= render :partial=>'list'

= will_paginate @objects
