- log_object_partial '/enrollments/list'

- items  ||= @objects
- title  ||= 'Enrollments'
- sorter ||= controller.action_name == 'index' 

.block
  .title= safe title
  .content
    %table
      %tr
        %th.key.w60px.acenter= RFilterHelper.sort_by_link('ID','id',@filter,sorter)
        %th.w100px.aleft= RFilterHelper.sort_by_link('Course','course_id',@filter,sorter)
        %th.w200px.aleft= RFilterHelper.sort_by_link('User','user_id',@filter,sorter)
        %th.aleft= RFilterHelper.sort_by_link('Title','title',@filter,sorter)
        %th.w100px.aright.low= 'Status'

      - reset_cycle
      - items.each do |item| 
        %tr{:class=>cycle('odd','even')}
          %td.key.w60px.acenter= RDisplay.id_link(item)
          %td.w100px= RDisplay.link_to_obj(item.course,:id_str,:class=>'silent')
          %td.w20px= RDisplay.link_to_obj(item.user,:to_s,:class=>'silent')
          %td= RDisplay.str(item.title)
          %td.w100px.aright= RDisplay.str(item.status_str)

