
- if @object && @course 

  .course_details
    %h1= safe @course.title
    %h2= safe @course.description
    
  %hr
  .lecture
    %h3= safe @object.title
    %h4= safe @object.description
    .content
      = safe @object.content
      
    - quiz = @object.quiz
    - if !passed_quiz(quiz)
      .links.big
        = link_to "take the quiz now".html_safe, "/school/#{quiz.id}/quiz"
      
  
- else
  %h1.error= "Course Not Found..."
  %p= "/school/#{@id}"