
- if @object

  .course_details
    %h1= safe @object.title
    %h2= safe @object.description
    .content.block
      = safe @object.p_content
      .links
        = link_to "back", "/school"
        - if !is_enrolled_in(@object.id)
          | 
          = link_to "enroll", "/school/#{@object.id}/enroll"
    
  .course_lectures
    %h3= "This course contains #{@lectures.size} lecture(s)."
    %table.for_list
      %tbody
        - @lectures.each do |lecture|
          %tr{:class=>cycle('odd','even')}
            %td.first.title= safe lecture.title
            %td.next.description= safe lecture.description
            - if is_enrolled_in(@object.id)
              %td.next.actions
                - quiz = lecture.quiz
                - if passed_quiz(quiz)
                  %span.status.passed= "Passed"
                - elsif is_eligible_for(quiz)
                  = link_to "take the quiz".html_safe, "/school/#{lecture.quiz.id}/quiz"
              %td.last.actions
                = link_to "read more &raquo;".html_safe, "/school/#{lecture.id}/lecture"
      
  
- else
  %h1.error= "Course Not Found..."
  %p= "/school/#{@id}"