.buttons.right
  = RDisplay.cancel_form_link("/images/#{@image.id}")
  = RDisplay.submit_form_link("new_image_attachment")

.block= view_title @image, :edit
.block= sub_title 'New Image Attachment'

= form_for(@image_attachment, :html=>{:multipart=>true}) do |f|
  = f.error_messages
  
  .block= render :partial=>'image_attachment_entry', :locals=>{ :f=>f }

.buttons.bottom
  = RDisplay.cancel_form_link("/images/#{@image.id}")
  = RDisplay.submit_form_link("new_image_attachment")
  