- log_object_view '/user/show'

%h1= 'User Control Panel'
%hr

- if @object

  - if (current_user && current_user.id == @object.id) || (current_user.role_id>=User::ADMIN)
  
    %table.like_columns
      %tbody
        %tr
          %td.w50p.first= render :partial=>'/user/user_info'
          %td.w25p.next=  render :partial=>'/user/user_views'
          %td.w25p.last=  render :partial=>'/user/user_actions'
            
  - else
    %h2.error= 'You are not authorized to see this page!'
- else
  %h2.error= "User Not Found..."
  %p= "/user/#{@id}"