- log_object_partial '/js_scripts/list'

- items  ||= @objects
- title  ||= 'JS Scripts'
- sorter ||= controller.action_name == 'index' 

.block
  .title= safe title
  .content
    %table
      %tr
        %th.key.w60px= RFilterHelper.sort_by_link('ID','id',@filter,sorter)
        %th.w120px.acenter= RFilterHelper.sort_by_link('Segment','app_segment_id',@filter,sorter)
        %th.w120px= RFilterHelper.sort_by_link('Name','name',@filter,sorter)
        %th= RFilterHelper.sort_by_link('Title','title',@filter,sorter)
        %th.w60px.aright= 'Pos'
        %th.w100px.aright= 'Status'

      - reset_cycle
      - items.each do |item| 
        %tr{:class=>"#{item.status_raw} #{cycle('odd','even')}"}
          %td.key.w60px= RDisplay.id_link(item)
          %td.w120px.acenter= RDisplay.with_style(item.app_segment)
          %td.w120px= RDisplay.str(item.name)
          %td= RDisplay.str(item.title)
          %td.w60px.aright= RDisplay.count(item.position)
          %td.w100px.aright= RDisplay.str(item.status_str)

