- log_shared_partial '/shared/admin/show_parent'

- item ||= @object

- if item

  .block
    .title= "Parent"
    .content
      %table
        %tbody
          - if item.respond_to?(:course_id)
            = RDisplay.row('Course',item.course_id)
            -#= RDisplay.row('Course',RDisplay.link_to_obj(item.course,:id_str))
          - if item.respond_to?(:lecture_id)
            - if item.lecture
              = RDisplay.row('Course (Lecture)',RDisplay.link_to_obj(item.lecture.course,:id_str))
            = RDisplay.row('Lecture',RDisplay.link_to_obj(item.lecture,:id_str))
          - if item.respond_to?(:quiz_id)
            = RDisplay.row('Course (Quiz)',RDisplay.link_to_obj(item.quiz.lecture.course,:id_str))
            = RDisplay.row('Lecture (Quiz)',RDisplay.link_to_obj(item.quiz.lecture,:id_str))
            = RDisplay.row('Quiz',RDisplay.link_to_obj(item.quiz,:id_str))

